.navbar__btn, .header__btn, .contact__btn {
  background-color: #202020;
  border: 2px solid #202020;
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.navbar__btn:focus, .header__btn:focus, .contact__btn:focus {
  outline: none;
}

.header__heading, .about__heading, .review__heading {
  font-family: "Rubik", "sans-serif";
  font-weight: 500;
  font-size: 24px;
}

.header__para, .about__para, .review__para, .keypoints__para {
  font-family: "Poppins", "sans-serif";
  padding: 1rem 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.navbar {
  width: 100%;
  height: 10%;
  padding: 2rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  z-index: 1;
  background-color: #fff;
}

.navbar__logo-image {
  width: 20%;
  display: block;
}

.navbar__btn {
  padding: .5rem 1rem;
  margin: 1rem;
}

.navbar__btn a {
  color: white;
}

.navbar__links {
  display: none;
}

.navbar__links.show {
  position: fixed;
  top: 12%;
  left: 0;
  background-color: #FECD51;
  height: 100%;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.navbar__icon {
  font-size: 24px;
}

.navbar__link {
  display: block;
  margin: .5rem;
  padding: .5rem;
  color: black;
}

.header {
  padding-top: 4rem;
  position: relative;
}

.header__img {
  height: auto;
  width: 80%;
}

.header__desktopimg {
  max-width: 50%;
}

.header__wave-img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header__btn {
  margin: 1rem auto;
}

.gallary {
  margin: 0 auto;
}

.gallary__img {
  background-position: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.gallary__img--first {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-image: url("/images/pic-1.jpg");
}

.gallary__img--second {
  background-image: url("/images/pic-2.jpg");
}

.gallary__img--third {
  background-image: url("/images/pic-3.jpg");
}

.gallary__img--forth {
  background-image: url("/images/pic-4.jpg");
  grid-column: span 2;
}

.review__heading {
  text-align: center;
}

.review__para {
  text-align: center;
}

.review__content {
  border: 2px solid #FECD51;
  border-radius: 10px;
  padding: 1rem;
  margin: .5rem;
  max-width: 70%;
  margin: 0 auto;
}

.review__carousel {
  padding: 2rem;
  position: relative;
}

.review__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.review__dot {
  background-color: #e2e2e2;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  padding: .5rem;
  margin: .2rem;
  cursor: pointer;
}

.review__dot.active {
  background-color: #FECD51;
}

.review__img {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.review__img--1 {
  background-image: url("../images/review-person1.jpg");
}

.review__img--2 {
  background-image: url("../images/review-woman-2.jpg");
}

.review__img--3 {
  background-image: url("../images/review-woman-3.jpg");
}

.review__img--4 {
  background-image: url("../images/review-man-4.jpg");
}

.review__img--5 {
  background-image: url("../images/review-woman-5.jpg");
}

.review__img--6 {
  background-image: url("../images/review-man-6.jpg");
}

.review__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__personname {
  font-size: 14px;
  padding: 1rem;
}

.review__text {
  text-align: start;
  font-size: 14px;
  line-height: 25px;
  padding: 1rem 0;
}

.review__pre {
  position: absolute;
  background: #FECD51;
  padding: .5rem;
  border: none;
  border-radius: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
  cursor: pointer;
}

.review__next {
  position: absolute;
  background: #FECD51;
  padding: .5rem;
  border: none;
  border-radius: 50%;
  top: 50%;
  right: 0;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
  cursor: pointer;
}

.section-fullbg {
  background: rgba(253, 207, 87, 0.15);
  padding: 2rem 0;
}

.keypoints {
  padding: 2rem;
}

.keypoints____content {
  padding: 1rem;
  margin: 2rem 0;
}

.keypoints__icon {
  font-size: 30px;
  background-color: #FECD51;
  border-radius: 50%;
  padding: 1rem;
}

.keypoints__heading {
  font-size: 18px;
  margin-top: 1rem;
}

.contact__btn {
  padding: 1rem 2rem;
  margin: 0 auto;
}

.footer {
  background-color: #202020;
  color: #ffffff;
  padding: 1rem;
}

.footer a {
  text-decoration: none;
}

.footer a:link, .footer a:visited {
  color: #ffffff;
}

.footer a:active {
  color: #E5E5E5;
}

.footer__icons {
  margin: 1rem;
}

.footer__icon {
  font-size: 24px;
  margin: 0 .5rem;
}

.footer__content {
  padding: 1rem 0;
  border-bottom: 1px solid #ffffff;
}

.footer__content:last-child {
  border-bottom: none;
}

.footer__links {
  padding: 1rem 0;
}

.footer__link {
  padding: .5rem;
  color: #ffffff;
  display: block;
}

.footer__image {
  width: 20%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Poppins", "sans-serif";
  height: 100%;
  text-align: center;
  scroll-behavior: smooth;
  position: relative;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 0;
}

.feature-1 {
  background-color: #FECD51;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 20%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 10px 10px;
  z-index: 5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ph-x {
  font-size: 24px;
  cursor: pointer;
}

.feature-2 {
  background-color: #FECD51;
  padding: 1rem;
  position: fixed;
  float: right;
  z-index: 5;
  bottom: 0;
  right: 0;
}

@media (min-width: 769px) {
  body {
    text-align: start;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header {
    position: relative;
    overflow: hidden;
  }
  .header__heading {
    font-size: 3rem;
    text-align: start;
  }
  .header__para {
    text-align: start;
  }
  .header__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__section > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header__img {
    display: none;
  }
  .header__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__desktopimg {
    display: block;
    width: 90%;
    padding: 1rem;
  }
  .header__content {
    text-align: center;
  }
  .header__btn {
    margin: 0;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__partnerBook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__terms {
    text-align: end;
  }
  .section-fullbg {
    background: rgba(253, 207, 87, 0.15);
  }
  .keypoints {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .keypoints__content {
    padding: 1rem;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallary {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    max-width: 890px;
  }
  .review .ph-arrow-left, .review .ph-arrow-right {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */