.footer{
    a{
        text-decoration: none;
        &:link,
        &:visited{
            color: $white-color;
        }

        &:active{
            color: $gray-color;
        }
    }

    background-color: $black-color;
    color: $white-color;
    padding: 1rem;

    &__icons{
        margin: 1rem;
    }

    &__icon{
        font-size: 24px;
        margin: 0 .5rem;
    }

    &__content{
        padding: 1rem 0;
       border-bottom: 1px solid $white-color; 

       &:last-child{
           border-bottom: none;
       }
    }

    &__links{
        padding: 1rem 0;
    }

    &__link{
        padding: .5rem;
        color: $white-color;
        display: block;
    }

    &__image{
        width: 20%;
    }
}